@font-face {
	font-family: Brightwall;
	src: url("/wanderer-archive/assets/fonts/Brightwall.ttf")
}

html {
	margin-right: 75px;
	margin-left: 75px;
	padding: 0;
	text-align: justify;
	background: #1b1d4a; 
}

.nav {
  background-color: #008E02;
  position: fixed;
  width: 25%;
  margin-top: -25px;
  height: 110%;
  transform: 0.5s;
  overflow: auto;
}

body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #f0f9ff; 
	background: #1b1d4a; 
	margin: 0; 
	padding: 0;
}

p {
	margin-top: 0;
	text-align: left;
	margin-left: 50px;
}

h1 {
	color: #FFFFFF;
	font-family: 'Brightwall';
}
h2 {
	font: bold normal 1.4m georgia, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #FFFFFF;
	margin-left: 50px;
	text-align: left;
}

h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #FFFFFF;
	margin-left: 50px;
	text-align: left;
}


h10 {
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #FFFFFF;
	margin-left: 50px;
	text-align: left;
}

a:link {
	font-weight: bold;
	text-decoration: none;
	color: #EB3D3D;
}

a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #DC3939;
}

a:hover, a:focus, a:active {
	text-decoration: none;
	color: #EB3D3D;
	background: #FFFFFF;
}

abbr {
	border-bottom: none;
	text-decoration: #CFB784 dotted underline;
	color: #8E3200;
	text-weight: bold;
}

def {
	color: #A64B2A;
}

header {
	padding-top: 20px;
	height: 87px;
	text-align: center;
}

footer {
	text-align: center;
}

footer a:link, footer a:visited {
	margin-right: 20px;
}


h1 {
	font-family: 'Times';
	text-align: center;
}

@media screen and (max-width: 600px) {
	html {
		margin-right: 50px;
		margin-left: 50px;
	}
}
