<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/wanderer-archive/assets/css/main.css">
  <link rel="icon" type="image" href="/wanderer-archive/assets/images/favicon.png">
</head>

<script>
(function (a, d, o, r, i, c, u, p, w, m) {
m = d.getElementsByTagName(o)[0], a[c] = a[c]
|| {}, a[c].trigger = a[c].trigger || function () {
(a[c].trigger.arg = a[c].trigger.arg || []).push(arguments)},
a[c].on = a[c].on || function () {(a[c].on.arg = a[c].on.arg || []).push(arguments)},
a[c].off = a[c].off || function () {(a[c].off.arg = a[c].off.arg || []).push(arguments)
}, w = d.createElement(o), w.id = i, w.src = r, w.async = 1, w.setAttribute(p, u),
m.parentNode.insertBefore(w, m), w = null}
)(window, document, "script", "https://72742793.adoric-om.com/adoric.js", "Adoric_Script", "adoric","f834f68b9398417deb79b1169df879af", "data-key");
</script>

<script src="/wanderer-archive/script.js"></script>
  

<body>
  <div class="header">
    <div id="barzone" class="barzone" style="margin-top: 10px;" onclick="showNav(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    </div>
    <p class="headTitle" style="color: white"><strong><span style="color: #EB3D3D">Wanderer</span> Archive</strong></p>
  </div>
  
  
  <div class="nav" id="nav">
    <br>
    <br>
    <br>
    <br>
    <h1 class="name"><strong>Archive Map~</strong></h1>
    <br>
    <ul class="topNav">
    <li class="lis">
    <button class="normal" style= "color: white" style= "background-color: #EB3D3D"><a href="/wanderer-archive/index.html">Archive Entrance</a></button>
    </li>
    <br>
    <li class="lis">
    <button class="normal" style="color: white" style="background-color: #EB3D3D"><a href="/wanderer-archive/index.html">Creator</a></button>
    </li>
    <br>
    <li class="lis">
    <button class="normal" style="color:white" style="background-color: #EB3D3D"><a href="/wanderer-archive/index.html">Chat (Coming soon)</a></button>
    </li>
    <br>
    <li class="lis">
    <button class="normal"><a href="https://wanderer-inventory.notion.site/Wanderer-s-Archive-551bf6d3382148678191175b1123296f">Inventory</a></button>
    </li>
    </ul>
</div>
<div class="blur"></div>
<br>
<!--div class="pageContent">
    <div class="pageHeader">
        <br>
        <br>

    </div>
</div-->  
  
  <header>
    <h1>Wanderer's Archive</h1>
  </header>
  <hr class="divider_one">
  {{ content }}
  <hr class="divider_one">
  <footer>
    <br>
    <p>~<abbr>Kiefer Yuen</abbr> using <abbr>GitHub Pages</abbr></p>
    <p>If you're lost, return to the <a href="https://rewind789.github.io/wanderer-archive/">archive entrance.</a></p>
    <p>Contact me at <a href="mailto:ky.yuen2009@gmail.com">ky.yuen2009@gmail.com</a></p>
    <img src="/wanderer-archive/assets/images/favicon.png" alt='Wanderer pet Cat'>
  </footer>
</body>
