<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/wanderer-archive/assets/css/main.css">
  <link rel="icon" type="image" href="/wanderer-archive/assets/images/favicon.png">
</head>
<body>
  <header>
    <h1>Wanderer's Archive</h1>
  </header>
  <hr class="divider_one">
  {{ content }}
  <hr class="divider_one">
  <footer>
    <p>~<abbr>Kiefer Yuen</abbr> using <abbr>GitHub Pages</abbr></p>
    <p>If you're lost, return to the <a href="https://rewind789.github.io/wanderer-archive/">archive entrance.</a></p>
    <p>Contact me at <a href="mailto:ky.yuen2009@gmail.com">ky.yuen2009@gmail.com</a></p>
  </footer>
</body>
